// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

xwayland-satellite
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets"
spawn-at-startup "swayidle"
spawn-at-startup "swww-daemon"
spawn-sh-at-startup "swww img Pictures/WallPaper/1.jpg --resize=crop"
spawn-at-startup "cliphist daemon"
spawn-sh-at-startup "wl-paste --type text --watch  cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch  cliphist store"
spawn-sh-at-startup "fcitx5 -d"

